/* * {
    margin: 0;
    background: #080202;
} */
/* html {
  width: 100%;
  height: 100%;
} */
/* #canvasColor {
  background: #080202;
} */

canvas {
  display:block;
  margin:20px auto;
  background: url(./assets/images/seattle_Line_Style_White.png);
  /* border:1px dashed #bbb; */
}

/* aLink {
  width:800px;
  display:block;
  margin:0 auto;
  position:relative;
  top:-380px;
  left:4px;
  font-family:Helvetica, sans-serif;
  font-size:18px;
  text-decoration:none;
  color: #aaa;
}

aLink:hover {
  color: #888;
} */