/* * {
    margin-top: 25%px;
    background: #0f4c81;
} */

#bodyColor{
  position: absolute;
  margin: 0 auto;
  background: #0f4c81;
  color: #fff;
  width: 1366;
  height: 300;
  /* z-index: 999; */
  
}

canvas {
  position: absolute;
  display: block;
  margin: 20px auto;
  background: #0f4c81;
  border:1px dashed #bbb;
  z-index: -999;
}

a {
  width:800px;
  display:block;
  margin:0 auto;
  position:relative;
  top:-380px;
  left:4px;
  font-family:Helvetica, sans-serif;
  font-size:18px;
  text-decoration:none;
  color: #aaa;
}

a:hover {
  color: #888;
}